* 
{
	box-sizing: border-box;
}

html, body
{
	background-color: black;
	
	background-image: url('../img/background.png');
	background-repeat: repeat;
	background-size: 12.5%;
	
	height: 100%;
	width: 100%;
	
	margin: auto;
}

body
{
	overflow-y: scroll;
}

a
{
	color: black;
	text-decoration: none;
}

img[type=flag]
{	
	height: auto;
	width: 25%;
}

img[type=fighter_profile]
{	
	height: auto;
	width: 100%;
	
	border: 0.15em solid black;
}

[class*="col-"] 
{
	background-color: #202020;
	
	float: left;
	
	height: 100%;
	
	margin: auto;
	
}

@media only screen and (max-width: 600px) 
{
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 600px) 
{
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

[class*="row-"] 
{
	text-align: center;
	
	display: table;
	width: 80%;
	
	background-color: black;
	color: white;
	
	margin: auto;
	
	border: solid white 2px;
}

.content-l
{

}

.content-s
{
	
}

.row-top
{
	height: 12.5%;
}

.row-top img
{
	width: 50%;
	float: left
}

.row-middle
{
	height: 77.5%;
}

.row-bottom
{
	height: 10%;
	
}

form.search input[type=text]
{
	background-color: white;
	color: black;
	
	width: 80%;
	padding: 1%;
	
	border: 0.15em solid black;
	
	float: left;
}

form.search button
{
	background-color: red;
	
	width: 20%;
	padding: 1%;
	
	border: 0.15em solid black;
	border-left: none; 
	
	float: left;
	cursor: pointer;
}

form.search button:hover
{
	background: yellow;
}

.content_part_container
{
	position: relative;
	
	color: #000000;
	background: #A7A5B5;
	
	text-align: left;
	
	margin: 0.5%;
	padding: 0.25%;
	
	border: solid red 0.15em;
}

.content_part_short
{
	margin: 0.5%;
}

.read_more_button
{
	cursor: pointer;
}

[type=left]
{
	float:left;
	display:inline;
}

[type=right]
{
	float:right;
	display:inline;
}

[type=bottom_right]
{
	position: absolute;
	
	right: 0;
	bottom: 0;
}